<!DOCTYPE html>
<html>
    <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="utf-8">
            <title>Redistricting</title>
            <!-- External Stylesheets -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.js"
            th:src="@{/webjars/bootstrap-slider/10.0.2/bootstrap-slider.js}"></script>
            <script th:src="@{js/MoveSseEvent.js}" src="../static/js/MoveSseEvent.js"></script>
            <link rel="stylesheet" th:href="@{/css/leaflet.css}"
                  href="../static/css/leaflet.css" />
            <link rel="stylesheet" th:href="@{/css/style.css}"
                  href="../static/css/style.css" />
        </head>
        <body>
            <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/loggedIn">Congressional Redistricting Website</a>
                    </div>
                    <ul class="nav navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/myAccount">My Account</a></li>
                        <li><a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
                            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                                <input hidden type="submit" value="Sign Out"/>
                            </form> 
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="container" style="width: 100%">
				<div id="data">
					<input type="submit" id="displayBtn" onclick="displayStateData()" value="-" style="width: 30px;float:left">
                    <br><br>
					<div id="innerData" style="display:block">
						<div class="dataField" id="dataTitle">
							<h4> Data </h4>
						</div>
						
						<div class="dataField" id ="Name">
							Name
						</div>
						<div class="dataField" id ="dataField">
							Constitution Text
						</div>
						<div class="dataField" id ="Population">
							Total Population
						</div>
						<div class="dataField" id ="dataField">
							# of CD
						</div>
						<div class ="dataField">
							Election
						</div>
                        <div style="float:left">
                            <br><br>
                            <textarea id="console" style="width: 226px; resize: none; height: 300px;"></textarea>
                        </div>
					</div>
				</div>
                
                
                <div id="first">
                    <script src="js/leaflet.js"></script>
                    <script src="js/leaflet.ajax.min.js"></script>
                    <script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.js"></script>
                    <script type="text/javascript" src="js/us-states.js"></script>
                    <script type="text/javascript" src="js/illinoisD.js"></script>
                    <script type="text/javascript" src="js/illinoisP.js"></script>
                    <script type="text/javascript" src="js/newHampshire_P.js"></script>
                    <script type="text/javascript" src="js/westVirginia_P.js"></script>
                    <div id="map" style="width: 100%; height: 650px"></div>
                </div>
                <div id="second">
                    <select id = "selected_state" class="form-control">
                        <option value="Illinois">Illinois</option>
                        <option value="New Hampshire">New Hampshire</option>
                        <option value="West Virginia">West Virginia</option>
                    </select>
                    <input type="submit" class="button" id="select_state" value="Select State" onclick="stateSelected()">
                    <br>
                </div>
                <div id ="selectAlgorithm">
                    <select id = "selected_algo" class="form-control">
                        <option value="simulated">Simulated Annealing</option>
                        <option value="region">Region Growing</option>
                    </select>
                    <input type="submit" class="button" id="select_algo" onclick="algoSelected()" value="Select Algorithm">
                </div>
                <div id="algoConfigR">
                    <div id = "algoTitle">Region Growing</div>
                    <br>

                    <!--<form action="/loggedIn" method="POST" th:action="@{/loggedIn}" th:object="${state}">-->
                    <div>
                        <input type="submit" class="button2" name="start" value="Start" id = "startBtnID" onclick="foolproofStart()">
                        <input type="submit" class="disabledBtn" name="pause" value="Pause" id = "pauseBtnID" disabled onclick="pause()">
                        <input type="submit" class="disabledBtn" name="step" value="Step" id = "stepBtnID" disabled onclick="make_step()">
                        <input type="submit" class="disabledBtn" name="stop" value="Stop" id = "stopBtnID" disabled onclick ="foolproofStop()">
                    </div>
                    <br>
                    <div id = "regionSeeds">
                        Number of seeds <input id="seedCount" type="number" value="2" name="quantity" min="2">
                    </div>
                    <br>
                    <div>
                        <div class="slidecontainer">
                        Reock Compactness
                        <input type="range" min="1" max="100" value="50" class="slider" id="reock">
                        </div>
                    
                        <div class="slidecontainer">
                            Polsby-Popper Compactness
                            <input type="range" min="1" max="100" value="50" class="slider" id="polsbyPopper">
                        </div>

                        <div class="slidecontainer">
                            Convex Hull Compactness
                            <input type="range" min="1" max="100" value="50" class="slider" id="convexHull">
                        </div>

                        <div class="slidecontainer">
                            Political Fairness
                            <input type="range" min="1" max="100" value="50" class="slider" id="politicalFairness">
                        </div>

                        <div class="slidecontainer">
                            Population Equality
                            <input type="range" min="1" max="100" value="50" class="slider" id="populationEquality">
                        </div>
                    </div>
                    <!--</form>-->
                </div>
            </div>
        </div>
    </body>
    <script th:src="@{js/loggedIn.js}" src="../static/js/loggedIn.js"></script>
        <script id="changeColor" src="js/changeColor.js"> </script>
</html>